.landing {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: 50% 0;
  width: 100%;

  &__content {
    width: 100%;
  }

  &__section {
    position: relative;
  }

  &__empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: #666;
    font-size: 18px;
    text-align: center;
    gap: 10px;
  }
}
