.dashboard {
   display: flex;
   min-height: 100vh;
   width: 100vw;
   overflow: hidden;

   &__content {
      flex: 1;
      height: 100vh;
      overflow-y: auto; // რომ ლენდინგი დასკროლდეს
      background-color: #f0f0f2;
      width: calc(100% - 400px);
   }

   &__landing {
      background-repeat: no-repeat;
      background-position: 50% 0;
      background-size: auto;
      overflow: hidden;
      width: 100%;
      min-height: 100vh; // Landing სექციის მინიმალური სიმაღლე
      transition: background-size 0.4s ease;

      &--scaled {
         background-size: 100% auto;
      }
   }

   &__aside {
      width: 400px;
      min-width: 260px;
      background-color: #ffffff;
      border-left: 1px solid #e5e5ea;
      height: 100vh;
      overflow-y: auto;
   }

   // ბილდერის სექციების კონტეინერი
   &__builder {
      width: 100%;
   }
}
.editingBorder {
   outline: 2px dashed #00f2ff;
   outline-offset: 2px;
   background: rgba(0, 242, 255, 0.05);
   z-index: 1000;
}