.dashboard {
   display: flex;
   min-height: 100vh;
   &__landing {
      background-repeat: no-repeat;
      background-position: 50% 0;
      background-size: auto;
      overflow: hidden;
      width: calc(100% - 260px);
      &--scaled {
         background-size: 100%;
      }
   }
   &__aside {
      width: 260px;
      background-color: #ffffff;
   }
}