.dashboard {
   display: flex;
   min-height: 100vh;
   width: 100vw;
   overflow: hidden;
   &__content {
      flex: 1;
      height: 100vh;
      overflow-y: auto;
      background-color: #f0f0f2;
      width: calc(100% - 400px);
   }
   &__landing {
      background-repeat: no-repeat;
      background-position: 50% 0;
      background-size: auto;
      overflow: hidden;
      width: 100%;
      min-height: 100vh;
      &--scaled {
         background-size: 100% auto;
      }
   }
   &__aside {
      width: 400px;
      min-width: 260px;
      background-color: #ffffff;
      border-left: 1px solid #e5e5ea;
      height: 100vh;
      overflow-y: auto;
   }
   &__builder {
      width: 100%;
   }
}
