.authorization {
  background-color: #37445ee6;
  padding: 20px;
  max-width: 700px;
  display: flex;
  margin: 600px auto auto;
  border-radius: 4px;
  &__text {
    color: #ffffff;
  }
  &__actions {
    display: flex;
    gap: 10px;
    button {
      border: none;
      outline: none;
      padding: 14px 20px;
      color: #fff;
      cursor: pointer;
      border-radius: 6px;
      font-size: 16px;
      &:nth-of-type(1) {
        background-color: #15af44;
        animation: 1s pulse ease-in-out infinite both;
      }
      &:nth-of-type(2) {
        background-color: #252b33;
        animation: 1s pulseDark ease-in-out infinite both;
      }
    }
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(55, 194, 130, 0.85);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(55, 194, 130, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(55, 194, 130, 0);
  }
}

@keyframes pulseDark {
  0% {
    box-shadow: 0 0 0 0 rgba(120, 126, 151, 0.85);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(55, 194, 130, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(55, 194, 130, 0);
  }
}